.container {
  padding: 1.5% 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.card {
  display: flex;
  gap: 1.5%;
}

.img {
  width: 270px;
  height: 200px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description {
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
  background-color: #2784f6;
  color: #fff;
  width: 150px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btnReserved {
  background-color: inherit;
  color: gray;
  width: 170px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
}

.badge {
  border: 1px solid rgb(22, 195, 22);
  border-radius: 6px;
  background-color: rgb(22, 195, 22);
  color: #fff;
  padding: 1px 5px;
  text-align: center;
  margin-right: 10px;
}
