html, body, li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

header {
background-color: #fff;
padding: 2% 10%;
display: flex;
align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoImg {
  height: 50px;
  width: 50px;
}

