html,
body,
li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

header {
  background-color: #fff;
  padding: 2% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px gray solid;
  margin: 0 3%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoImg {
  height: 60px;
  width: 60px;
}

.navList {
  display: flex;
  gap: 30px;
  margin-right: 50px;
}

.navItem {
  text-decoration: none;
  color: #1f55eb;
  font-size: 20px;
}

.navItem.rocket {
  margin-right: 20px;
}

.navItem.active {
  text-decoration: underline;
}

.bar {
  border: 2px solid grey;
}

.table-container {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  margin-top: 2%;
}

.table-container td,
.table-container th {
  border: 1px solid black;
  padding: 8px;
}

.table-container th {
  background-color: #f2f2f2;
  text-align: left;
}

.table-container tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.table-container tr:nth-child(even) {
  background-color: #fff;
}
