html,
body,
li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

header {
  background-color: #fff;
  padding: 2% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px gray solid;
  margin: 0 3%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoImg {
  height: 60px;
  width: 60px;
}

.navList {
  display: flex;
  gap: 30px;
  margin-right: 50px;
}

.navItem {
  text-decoration: none;
  color: #1f55eb;
  font-size: 20px;
}

.navItem.rocket {
  margin-right: 20px;
}

.bar {
  border: 2px solid grey;
}
